.sidebar {
    position: relative;
    background-color: #014a7f;
    overflow-y: auto;
    max-height: 100vh;
}
a {
    color: white;
}
.bg-custom-color {
    background-color: #014a7f;
}
.navbar-brand {
    width: 125px;
}
.form-container {
    padding: 20px;
}
.img-fluid {
    max-height: 85px;
}
.open-sidebar-button {
    background-color: #111111;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
